html {
  height: 100%;
  width: 100%;
}

.logo {
  background: #ffffff;
  background: linear-gradient(
    11deg,
    rgba(255, 255, 255, 0) 11%,
    rgba(32, 102, 135, 1) 65%,
    rgba(6, 31, 47, 1) 100%
  );

  background: #061f2f;
  background: radial-gradient(
    at right top,
    #061f2f,
    rgba(32, 102, 135, 1),
    rgba(255, 255, 255, 0) 90%
  );
}

.ads {
  background-color: blue;
}

.news {
  background-color: yellow;
}

.contenido1 {
  background-color: gray;
}

/* .contenido2 {
  background-color: hsl(200, 40%, 70%);
} */

.cont2 {
  text-align: center;
  line-height: 1.5;
}

.descripcion2 {
  text-align: justify;
}

.logo-img {
  max-height: 10rem;
}
.logo-div-img {
  padding: 1.5rem;
}

.logo-div-text-text {
  margin: auto;
}

.logo-div-text {
  display: flex;
  justify-content: center; /* centrado horizontal */
  align-items: center; /* centrado vertical */
}
body {
  background: linear-gradient(135deg, #191970, #5f9ea0);
  padding-top: 50px;
}

.card {
  border-radius: 10px;
}

.card-body {
  padding: 2rem;
}

.card-title {
  margin-bottom: 1.5rem;
}

.btn-primary {
  background-color: #00008b;
  border-color: #191970;
}

.btn-primary:hover {
  background: linear-gradient(135deg, #00008b, #2f787b);
  border-color: black;
}
